#-----------------------------------------------------------------------------
#                   Database Manager Configuration
#-----------------------------------------------------------------------------
#

# The databases that are used by CSAM.  Each of these databases
# has configuration parameters set under DatabaseManager.DB."databaseName".

DatabaseManager.Databases[] = "ups"
DatabaseManager.DefaultDatabase = "ups"
DatabaseManager.Debug = "false"
DatabaseManager.DB.ups.ClassType  = "SQLServer"
DatabaseManager.DB.ups.JdbcDriver = "com.microsoft.jdbc.sqlserver.SQLServerDriver"
DatabaseManager.DB.ups.Connection.Url = "jdbc:microsoft:sqlserver://sinoserver:1433;DatabaseName=bms;SelectMethod=Cursor"
DatabaseManager.DB.ups.Connection.User = "sa"
DatabaseManager.DB.ups.Connection.Password = "sa"
DatabaseManager.DB.ups.Connection.MaxPoolSize = 30
DatabaseManager.DB.ups.Connection.AllocationTimeout = 10000
DatabaseManager.DB.ups.Connection.Logging = true
DatabaseManager.DB.ups.ObjectId.CacheSize = 20
DatabaseManager.DB.ups.ObjectId.MinValue = 1000000

#
# Logging
#
DatabaseManager.LogClassName = com.lutris.logging.StandardLogger
DatabaseManager.LogFile = discRack.log
DatabaseManager.LogToFile[] = EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, INFO, DEBUG
# DatabaseManager.LogToStderr[] = EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, INFO, DEBUG


#
# Default cache configuration
#
DatabaseManager.defaults.cache.maxCacheSize = 0
DatabaseManager.defaults.cache.maxSimpleCacheSize = 0
DatabaseManager.defaults.cache.maxComplexCacheSize = 0
DatabaseManager.defaults.cache.maxMultiJoinCacheSize = 0
DatabaseManager.defaults.cache.reserveFactor = 0.1
DatabaseManager.defaults.cache.initAllCaches=false 
DatabaseManager.defaults.cache.CacheLockRetryCount=0
DatabaseManager.defaults.cache.CacheLockTimeout=0
DatabaseManager.defaults.cache.CachePercentage = 0

DatabaseManager.defaults.AllReadOnly=false
DatabaseManager.defaults.lazyLoading = true
DatabaseManager.defaults.maxExecuteTime = 10000
DatabaseManager.defaults.DeleteCheckVersion=true
DatabaseManager.defaults.DatabaseLockRetryCount=1
DatabaseManager.defaults.DatabaseLockTimeout=0
DatabaseManager.defaults.QueryTimeOut=0
DatabaseManager.defaults.DefaultFetchSize=-1
DatabaseManager.defaults.MaxConnectionUsages=-1

